@using InvestmentApp.Core.Application.ViewModels.AssetType
@model List<AssetTypeViewModel>;
@{
    ViewData["Title"] = "Asset types";
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">Asset types</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 col-md-3">
        <a class="btn btn-outline-success" asp-controller="AssetType" asp-action="Create"><i class="bi bi-file-earmark-plus"></i> New asset type</a>
    </div>

</div>

<div class="row mt-2">
    @if (Model.Count == 0)
    {        
        <div class="text-center">
            <h4 class="display-4">There aren't asset types</h4>
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle">Cantidad de activos: @item.AssetQuantity</h6>
                        <p class="card-text mt-2">
                           @item.Description
                        </p>
                        <div class="mt-2">
                            <a class="btn btn-outline-warning float-end" asp-controller="AssetType" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-outline-danger float-end me-2" asp-controller="AssetType" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>



